@font-face {
    font-family: brushStrike;
    src: url(Brushstrike.ttf);
}
.title{
    font-family: brushStrike;
    font-size:120px;
    color:red;
    text-align: center;
    text-shadow: 4px 4px black;
}
body{
    width:100%;
    
}
.arena{
    border: 2px solid black;
    background-image: url(img/black.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height:650px;
}
.menu{
    border: 2px solid black;
    background-color: aquamarine;
    width: 40%;
    margin-left: 317px;
    margin-top: 15px;
    text-align: center;
}
.button{
    margin:5px;
}
.cat{
    display:inline-block;
    /* max-width:250px; */
    height:100%;
    text-align:center;
    vertical-align:top;

}
.player1catbox{
    /* border:5px solid blue; */
    width: 49%;
    height: 262px;
    display: inline-block;
    margin-top: 50px;
    margin-left: 0px;
    vertical-align: top;
    text-align: center;

}
.player2catbox{
    /* border:5px solid green; */
    width: 49%;
    height: 262px;
    display: inline-block;
    margin-top: 50px;
    margin-left: 0px;
    vertical-align: top;
    text-align: center;
}
h2{
    display:inline-block;
    margin:0px;
}
option:first-child{
    color:red;
    font-weight: bold;
}